/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header y Navegación */
header {
    background-color: #333;
    padding: 1rem;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s, transform 0.3s;
}

header nav ul li a:hover {
    color: #00aaff;
    transform: scale(1.1);
}

/* Sección de contenido principal */
main {
    padding: 2rem;
}

#conceptos p {
    margin: 1rem 0;
    opacity: 0.8;
    transition: opacity 0.5s, transform 0.5s;
}

#conceptos p:hover {
    opacity: 1;
    transform: translateX(10px);
}

/* Galería de imágenes */
#galeria img {
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#galeria img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Videos Destacados */
#videos iframe {
    margin: 1rem 0;
    transition: transform 0.3s ease, filter 0.3s ease;
}

#videos iframe:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

footer p {
    margin: 0.5rem 0;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

footer p:hover {
    opacity: 1;
}
